<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cocktail Menu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/cocktail-menu/img/favicon.png">
  </head>
  <body>
    <main id="app">
      <section class="py-5 px-3 text-center container">
        <h1 class="fw-light mb-4" style="font-family: Papyrus">Cocktails</h1>
        <p class="lead text-body-secondary mb-0">
          At 7603 Westminster, our cocktails are precision crafted with top
          shelf ingredients. From the classics to fresh, innovative recipes,
          there is something for everyone. Cheers.
        </p>
      </section>

      <div class="bg-body-tertiary px-2 pt-2 container">
        <table style="margin: auto" class="mb-2">
          <tr>
            <td style="vertical-align: middle; text-align: right">Category</td>
            <td>
              <select class="form-control mx-2" v-model="selectedCategory">
                <option value="all">All</option>
                <option value="after-dinner">After dinner</option>
                <option value="bitter">Bitter</option>
                <option value="classic">Classic</option>
                <option value="featured">Featured</option>
                <option value="sour">Sour</option>
                <option value="tiki">Tiki</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align: right">
              Base spirit
            </td>
            <td>
              <select class="form-control mx-2" v-model="selectedSpirit">
                <option value="all">All</option>
                <option value="amaretto">Amaretto</option>
                <option value="bourbon">Bourbon</option>
                <option value="gin">Gin</option>
                <option value="mezcal">Mezcal</option>
                <option value="rum">Rum</option>
                <option value="rye">Rye</option>
                <option value="tequila">Tequila</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="row row-cols-1 g-3 pb-3">
          <div class="col text-center" v-if="!filteredDrinks.length">
            No results.
          </div>
          <div class="col" v-for="drink in filteredDrinks">
            <div class="card">
              <span
                v-if="outOfStock(drink)"
                style="
                  position: absolute;
                  top: 50px;
                  left: 22px;
                  color: white;
                "
                >Out of stock</span
              >
              <div
                class="card-body"
                :style="{opacity: outOfStock(drink) ? 0.5 : 1}"
              >
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img width="100" :src="drink.imageUrl" />
                  </div>
                  <div class="col">
                    <h4 class="card-title fw-light">{{ drink.name }}</h4>
                    <p class="card-text">{{ drink.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p class="text-center text-body-secondary pt-2">
          © 2023 | Please drink responsibly
        </p>
      </footer>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script type="module">
  import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  createApp({
    data() {
      return {
        selectedCategory: "featured",
        selectedSpirit: "all",
        outOfStockIngredients: [],
        drinks: [
          {
            name: "Whiskey Sour",
            description: "Bourbon, lemon juice, egg white",
            tags: ["sour", "classic"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/whiskey-sour.jpg",
          },
          {
            name: "Gin Basil Smash",
            description: "Gin, lemon juice, simple syrup, basil",
            tags: ["featured", "sour"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/gin-basil-smash.jpg",
          },
          {
            name: "Rum Strawberry Basil Smash",
            description:
              "Jamaican rum, lemon juice, strawberry, basil",
            tags: ["featured", "sour"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/strawberry-basil-smash.jpg",
          },
          {
            name: "Spicy Mezcal Margarita",
            description:
              "Mezcal, Cointreau, lime juice, honey, habanero, tajín",
            tags: ["featured", "sour"],
            spirit: "mezcal",
            imageUrl: "/cocktail-menu/img/spicy-mezcal-margarita.jpg",
          },
          {
            name: "Sazerac",
            description:
              "Rye, cognac, Pernod, Peychaud's, Angostura",
            tags: ["featured", "classic", "after-dinner", "bitter"],
            spirit: "rye",
            imageUrl: "/cocktail-menu/img/sazerac.jpg",
          },
          {
            name: "Eastside Gimlet",
            description: "Gin, lime juice, cucumber, mint",
            tags: ["featured", "sour"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/eastside-gimlet.jpg",
          },
          {
            name: "Mai Tai",
            description:
              "Rum, curaçao, lime juice, pineapple juice, orgeat",
            tags: ["featured", "classic", "sour", "tiki"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/mai-tai.jpg",
          },
          {
            name: "Old Fashioned",
            description:
              "Bourbon, Angostura aromatic and orange bitters",
            tags: ["featured", "classic", "bitter"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/old-fashioned.jpg",
          },
          {
            name: "Enzoni",
            description: "Gin, Campari, grapes, lemon juice",
            tags: ["featured", "bitter"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/enzoni.jpg",
          },
          {
            name: "Amaretto Sour",
            description: "Disaronno, bourbon, lemon juice, egg white",
            tags: ["sour", "after-dinner"],
            spirit: "amaretto",
            imageUrl: "/cocktail-menu/img/whiskey-sour.jpg",
          },
          {
            name: "Gold Rush",
            description: "Bourbon, lemon juice, honey",
            tags: ["sour", "featured"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/gold-rush.jpg",
          },
          {
            name: "Strawberry Daiquiri",
            description: "White rum, lime juice, strawberry",
            tags: ["sour", "featured", "classic"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/strawberry-daiquiri.jpg",
          },
          {
            name: "Whiskey Smash",
            description: "Bourbon, lemon juice, mint",
            tags: ["sour", "featured"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/whiskey-smash.png",
          },
          {
            name: "Manhattan",
            description: "Rye, sweet vermouth, Angostura",
            tags: ["classic"],
            spirit: "rye",
            imageUrl: "/cocktail-menu/img/manhattan.jpg",
          },
          {
            name: "Margarita",
            description: "Tequila, Cointreau, lime juice (spicy, cucumber, or pineapple available by request)",
            tags: ["classic", "sour"],
            spirit: "tequila",
            imageUrl: "/cocktail-menu/img/margarita.png",
          },
          {
            name: "Bourbon Renewal",
            description: "Bourbon, crème de cassis, lemon juice",
            tags: ["featured", "sour"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/bourbon-renewal.jpg",
          },
          {
            name: "Painkiller",
            description: "Dark and aged rum, pineapple juice, orange juice, coconut cream, nutmeg",
            tags: ["featured", "tiki"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/painkiller.jpg",
          },
          {
            name: "Port of Spain",
            description: "Mezcal, Angostura, lime juice, orgeat",
            tags: ["bitter", "after-dinner"],
            spirit: "mezcal",
            imageUrl: "/cocktail-menu/img/port-of-spain.jpg",
          },
          {
            name: "Army and Navy",
            description: "Gin, lemon juice, orgeat, Angostura",
            tags: ["sour", "featured"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/army-navy.jpg",
          },
          {
            name: "El Diablo",
            description: "Tequila, crème de cassis, lime juice, ginger beer",
            tags: ["sour"],
            spirit: "tequila",
            imageUrl: "/cocktail-menu/img/el-diablo.jpg",
          },
          {
            name: "Sidecar",
            description: "Cognac, Cointreau, lemon juice, sugar rim",
            tags: ["sour", "classic"],
            spirit: "cognac",
            imageUrl: "/cocktail-menu/img/sidecar.jpg",
          },
        ].sort((a, b) => (a.name > b.name ? 1 : b.name > a.name ? -1 : 0)),
      };
    },
    computed: {
      filteredDrinks() {
        return this.drinks.filter(
          (d) =>
            (this.selectedCategory === "all" ||
              d.tags.indexOf(this.selectedCategory) > -1) &&
            (this.selectedSpirit === "all" || d.spirit === this.selectedSpirit)
        );
      },
    },
    methods: {
      outOfStock(drink) {
        for (const ingredient of this.outOfStockIngredients) {
          if (drink.description.toLowerCase().indexOf(ingredient) > -1) {
            return true;
          }
        }
        return false;
      },
    },
  }).mount("#app");
</script>
