<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cocktails by Evan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/cocktail-menu/img/favicon.png"
    />
  </head>
  <body>
    <main id="app">
      <section class="py-5 px-3 text-center container">
        <h1 class="fw-light mb-4" style="font-family: Papyrus">
          Cocktails by Evan
        </h1>
        <p
          class="lead text-body-secondary m-auto mb-0"
          style="max-width: 720px"
        >
          At 7603 Westminster, our cocktails are precision crafted with top
          shelf ingredients. From the classics to fresh, innovative recipes,
          there is something for everyone. Cheers.
        </p>
      </section>

      <div
        class="bg-body-tertiary px-2 pt-2 container"
        style="max-width: 800px"
      >
        <table style="margin: auto" class="mb-2">
          <tr>
            <td style="vertical-align: middle; text-align: right">Category</td>
            <td>
              <select class="form-control mx-2" v-model="selectedCategory">
                <option value="all">All</option>
                <option value="after-dinner">After dinner</option>
                <option value="bitter">Bitter</option>
                <option value="classic">Classic</option>
                <option value="featured">Featured</option>
                <option value="sour">Sour</option>
                <option value="tiki">Tiki</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align: right">
              Base spirit
            </td>
            <td>
              <select class="form-control mx-2" v-model="selectedSpirit">
                <option value="all">All</option>
                <option value="amaretto">Amaretto</option>
                <option value="bourbon">Bourbon</option>
                <option value="gin">Gin</option>
                <option value="mezcal">Mezcal</option>
                <option value="pisco">Pisco</option>
                <option value="rum">Rum</option>
                <option value="rye">Rye</option>
                <option value="tequila">Tequila</option>
              </select>
            </td>
          </tr>
        </table>
        <div class="row row-cols-1 g-3 pb-3">
          <div class="col text-center" v-if="!filteredDrinks.length">
            No results.
          </div>
          <div class="col" v-for="drink in filteredDrinks">
            <div class="card">
              <span
                v-if="outOfStock(drink)"
                style="position: absolute; top: 50px; left: 22px; color: white"
                >Out of stock</span
              >
              <div
                class="card-body"
                :style="{opacity: outOfStock(drink) ? 0.5 : 1}"
              >
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img width="110" :src="drink.imageUrl" />
                  </div>
                  <div class="col px-1">
                    <div class="row">
                      <div class="col">
                        <h4
                          class="card-title fw-light"
                          style="font-family: Papyrus; font-size: 20px"
                        >
                          {{ drink.name }}
                        </h4>
                        <p class="card-text">{{ drink.description }}</p>
                      </div>
                      <div
                        class="col-lg-auto col-12 text-end pe-3"
                        v-if="!outOfStock(drink) && (isIOS || isAndroid)"
                      >
                        <button
                          class="btn btn-sm btn-outline-light fw-light mt-2"
                          @click="order(drink)"
                        >
                          Order
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p class="text-center text-body-secondary pt-2">
          © 2025 | Please drink responsibly
        </p>
      </footer>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script type="module">
  import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  createApp({
    data() {
      return {
        isIOS: navigator.userAgent.match(/iPhone/i),
        isAndroid: navigator.userAgent.match(/Android/i),
        selectedCategory: "featured",
        selectedSpirit: "all",
        outOfStockIngredients: ["grapes", "mint", "basil"],
        drinks: [
          {
            name: "Whiskey Sour",
            description: "Bourbon, lemon juice, egg white",
            tags: ["sour", "classic"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/whiskey-sour.jpg",
          },
          {
            name: "Gin Basil Smash",
            description: "Gin, lemon juice, basil",
            tags: ["featured", "sour"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/gin-basil-smash.jpg",
          },
          {
            name: "Rum Strawberry Basil Smash",
            description: "Jamaican rum, lemon, strawberry, basil",
            tags: ["sour"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/strawberry-basil-smash.jpg",
          },
          {
            name: "Spicy Mezcal Margarita",
            description: "Mezcal, lime juice, agave, habanero, tajín",
            tags: ["featured", "sour"],
            spirit: "mezcal",
            imageUrl: "/cocktail-menu/img/spicy-mezcal-margarita.jpg",
          },
          {
            name: "Sazerac",
            description: "Rye, cognac, Pernod, Peychaud's, Angostura",
            tags: ["classic", "after-dinner", "bitter"],
            spirit: "rye",
            imageUrl: "/cocktail-menu/img/sazerac.jpg",
          },
          {
            name: "Eastside Gimlet",
            description: "Gin, lime, cucumber, mint",
            tags: ["featured", "sour"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/eastside-gimlet.jpg",
          },
          {
            name: "Mai Tai",
            description: "Rum, curaçao, lime, orgeat",
            tags: ["featured", "classic", "sour", "tiki"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/mai-tai.jpg",
          },
          {
            name: "Smoked Maple Old Fashioned",
            description: "Bourbon, maple syrup, walnut bitters",
            tags: ["featured", "classic", "bitter"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/old-fashioned.jpg",
          },
          {
            name: "Enzoni",
            description: "Gin, Campari, grapes, lemon",
            tags: ["featured", "bitter"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/enzoni.jpg",
          },
          {
            name: "Amaretto Sour",
            description: "Disaronno, bourbon, lemon, egg white",
            tags: ["sour", "after-dinner"],
            spirit: "amaretto",
            imageUrl: "/cocktail-menu/img/amaretto-sour.jpg",
          },
          {
            name: "Gold Rush",
            description: "Bourbon, lemon, honey",
            tags: ["sour"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/gold-rush.jpg",
          },
          {
            name: "Strawberry Daiquiri",
            description: "White rum, lime, strawberry",
            tags: ["sour", "classic"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/strawberry-daiquiri.jpg",
          },
          {
            name: "Whiskey Smash",
            description: "Bourbon, lemon, mint",
            tags: ["sour"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/whiskey-smash.jpg",
          },
          {
            name: "Manhattan",
            description: "Rye, sweet vermouth, Angostura",
            tags: ["classic"],
            spirit: "rye",
            imageUrl: "/cocktail-menu/img/manhattan.jpg",
          },
          {
            name: "Margarita",
            description:
              "Tequila, Cointreau, lime (spicy, cucumber, or pineapple available by request)",
            tags: ["classic", "sour"],
            spirit: "tequila",
            imageUrl: "/cocktail-menu/img/margarita.png",
          },
          {
            name: "Bourbon Renewal",
            description: "Bourbon, crème de cassis, lemon, Angostura",
            tags: ["featured", "sour"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/bourbon-renewal.jpg",
          },
          {
            name: "Painkiller",
            description:
              "Dark and aged rum, pineapple, orange, coconut cream, nutmeg",
            tags: ["tiki"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/painkiller.jpg",
          },
          {
            name: "Army and Navy",
            description: "Gin, lemon, orgeat, Angostura",
            tags: ["sour", "featured"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/army-navy.jpg",
          },
          {
            name: "El Diablo",
            description: "Tequila, crème de cassis, lime, ginger beer",
            tags: ["sour"],
            spirit: "tequila",
            imageUrl: "/cocktail-menu/img/el-diablo.jpg",
          },
          {
            name: "Sidecar",
            description: "Cognac, Cointreau, lemon, sugar rim",
            tags: ["sour", "classic"],
            spirit: "cognac",
            imageUrl: "/cocktail-menu/img/sidecar.jpg",
          },
          {
            name: "Paper Plane",
            description: "Bourbon, Aperol, Averna, lemon",
            tags: ["sour", "featured", "bitter"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/paper-plane.jpg",
          },
          {
            name: "Division Bell",
            description: "Mezcal, Aperol, Luxardo, lime",
            tags: ["sour", "featured"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/division-bell.jpg",
          },
          {
            name: "Queen's Park Swizzle",
            description: "Rum, lime juice, mint, Angostura",
            tags: ["sour"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/queens-park-swizzle.jpg",
          },
          {
            name: "Maple Rum Old Fashioned",
            description:
              "Rum, maple syrup, Angostura aromatic and orange bitters",
            tags: ["after-dinner"],
            spirit: "rum",
            imageUrl: "/cocktail-menu/img/maple-rum-old-fashioned.jpg",
          },
          {
            name: "Oaxaca Old Fasioned",
            description: "Reposado tequila, mezcal, agave, Angostura",
            tags: ["featured", "after-dinner"],
            spirit: "tequila",
            imageUrl: "/cocktail-menu/img/oaxaca-old-fashioned.png",
          },
          {
            name: "Pisco Sour",
            description: "Pisco, lime, egg white, Angostura",
            tags: ["featured", "sour"],
            spirit: "pisco",
            imageUrl: "/cocktail-menu/img/pisco-sour.jpg",
          },
          {
            name: "New York Sour",
            description: "Bourbon, lemon, egg white, red wine float",
            tags: ["sour"],
            spirit: "bourbon",
            imageUrl: "/cocktail-menu/img/new-york-sour.jpg",
          },
          {
            name: "Monte Cassino",
            description: "Rye, yellow chartreuse, Benedictine, lemon",
            tags: ["featured", "sour"],
            spirit: "rye",
            imageUrl: "/cocktail-menu/img/monte-cassino.jpg",
          },
          {
            name: "Hot and Heavy",
            description: "Mezcal, hot honey, Angostura, Peychaud's, lemon",
            tags: ["featured", "sour"],
            spirit: "mezcal",
            imageUrl: "/cocktail-menu/img/hot-and-heavy.jpg",
          },
          {
            name: "Last Word",
            description: "Gin, green chartreuse, Luxardo liqueur, lime",
            tags: ["featured", "sour", "classic"],
            spirit: "gin",
            imageUrl: "/cocktail-menu/img/last-word.png",
          },
        ].sort((a, b) => (a.name > b.name ? 1 : b.name > a.name ? -1 : 0)),
      };
    },
    computed: {
      filteredDrinks() {
        return this.drinks.filter(
          (d) =>
            (this.selectedCategory === "all" ||
              d.tags.indexOf(this.selectedCategory) > -1) &&
            (this.selectedSpirit === "all" || d.spirit === this.selectedSpirit)
        );
      },
    },
    methods: {
      outOfStock(drink) {
        for (const ingredient of this.outOfStockIngredients) {
          if (drink.description.toLowerCase().indexOf(ingredient) > -1) {
            return true;
          }
        }
        return false;
      },
      order(drink) {
        window.open(
          `sms://17034341601/${this.isIOS ? "?" : "&"}body=I'd like to order a${
            drink.name.startsWith("A") || drink.name.startsWith("E") ? "n" : ""
          } ${drink.name}.`
        );
      },
    },
  }).mount("#app");
</script>
