<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Checkers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main id="app" style="height: 100vh; overflow: hidden">
      <div
        style="
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <table class="m-auto" :style="{width}">
          <tr v-for="(row, y) of board">
            <td
              v-for="(column, x) of row"
              :class="{
                'bg-secondary': (x + y) % 2, 'bg-white': !((x + y) % 2)
              }"
              :style="{
                cursor: isValidRedMove(x, y) ? 'pointer' : 'unset',
                height: width/8 + 'px',
                outline: selectedPiece && selectedPiece[0] === x && selectedPiece[1] === y 
                  && column.toLowerCase() === 'red' ? '6px solid black' : 'none',
              }"
              @click="spaceClicked(x, y)"
            >
              <svg v-if="column" :width="width/8" :height="width/8">
                <circle
                  :r="(width/16)*0.8"
                  :cx="width/16"
                  :cy="width/16"
                  :fill="column"
                ></circle>
              </svg>
            </td>
          </tr>
        </table>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script type="module">
  import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  createApp({
    data() {
      return {
        board: [
          [0, "black", 0, "black", 0, "black", 0, "black"],
          ["black", 0, "black", 0, "black", 0, "black", 0],
          [0, "black", 0, "black", 0, "black", 0, "black"],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          ["red", 0, "red", 0, "red", 0, "red", 0],
          [0, "red", 0, "red", 0, "red", 0, "red"],
          ["red", 0, "red", 0, "red", 0, "red", 0],
        ],
        selectedPiece: null,
        multiJumpInProgress: false,
        width: 800,
      };
    },
    mounted() {
      this.width = Math.min(window.innerWidth, window.innerHeight);
    },
    computed: {},
    methods: {
      isValidRedMove(x, y) {
        if (
          !this.multiJumpInProgress &&
          (this.board[y][x] === "red" || this.board[y][x] === "RED")
        ) {
          return true;
        } else if (
          this.selectedPiece &&
          this.board[this.selectedPiece[1]][this.selectedPiece[0]] === "RED" &&
          Math.abs(x - this.selectedPiece[0]) === 1 &&
          Math.abs(y - this.selectedPiece[1]) === 1 &&
          !this.board[y][x]
        ) {
          // open space, king
          return true;
        } else if (
          this.selectedPiece &&
          Math.abs(x - this.selectedPiece[0]) === 1 &&
          this.selectedPiece[1] - y === 1 &&
          !this.board[y][x]
        ) {
          // open space, non-king
          return true;
        } else if (
          this.selectedPiece &&
          this.board[this.selectedPiece[1]][this.selectedPiece[0]] === "RED" &&
          Math.abs(x - this.selectedPiece[0]) === 2 &&
          Math.abs(y - this.selectedPiece[1]) === 2 &&
          !this.board[y][x]
        ) {
          // valid king jump
          const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
          const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
          return (
            this.board[middleY][middleX] === "black" ||
            this.board[middleY][middleX] === "BLACK"
          );
        } else if (
          this.selectedPiece &&
          this.board[this.selectedPiece[1]][this.selectedPiece[0]] === "RED" &&
          Math.abs(x - this.selectedPiece[0]) === 2 &&
          y - this.selectedPiece[1] === 2 &&
          !this.board[y][x]
        ) {
          // valid regular jump
          const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
          const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
          return (
            this.board[middleY][middleX] === "black" ||
            this.board[middleY][middleX] === "BLACK"
          );
        }
        return false;
      },
      spaceClicked(x, y) {
        if (!this.isValidRedMove(x, y)) return;
        if (!this.selectedPiece || this.board[y][x] === "red") {
          this.selectedPiece = [x, y];
          return;
        }
        let isJump = false;
        if (Math.abs(y - this.selectedPiece[1]) === 2) {
          isJump = true;
          const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
          const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
          this.board[middleY][middleX] = 0;
        }
        this.board[y][x] = y ? "red" : "RED"; // king me
        this.board[this.selectedPiece[1]][this.selectedPiece[0]] = 0;

        // check for more available jumps, if so, wait for next move (there could be two options)
        if (isJump) {
          this.selectedPiece = [x, y];
          const possibleMoves = [
            [x + 2, y + 2],
            [x - 2, y + 2],
            [x + 2, y - 2],
            [x - 2, y - 2],
          ].filter((d) => d[0] >= 0 && d[0] < 8 && d[1] >= 0 && d[1] < 8);
          this.multiJumpInProgress = false;
          for (const move of possibleMoves) {
            if (this.isValidRedMove(move[0], move[1])) {
              this.multiJumpInProgress = true;
              return;
            }
          }
        }

        // end turn
        this.selectedPiece = null;

        // todo: black move
        // get all pieces with moves
        // for each piece, get all possible moves
        // calculate score of each move
        // choose move with highest score
      },
    },
  }).mount("#app");
</script>
