<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Checkers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main id="app" style="height: 100vh; overflow: hidden">
      <div
        style="
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <table class="m-auto">
          <tr v-for="(row, y) of board">
            <td
              v-for="(column, x) of row"
              :class="{
                'bg-secondary': (x + y) % 2, 'bg-white': !((x + y) % 2)
              }"
              :style="{
                cursor: isValidMove(x, y, 'red', board) ? 'pointer' : 'unset',
                height: width/8 + 'px',
                width: width/8 + 'px',
                outline: !animationInProgress && selectedPiece && selectedPiece[0] === x && selectedPiece[1] === y
                  && column.toLowerCase() === 'red' ? '6px solid black' : 'none',
              }"
              @click="spaceClicked(x, y)"
            >
              <svg
                v-if="column"
                :width="width/8 - 2"
                :height="width/8 - 2"
                :style="{
                  transition: `transform ${animationDuration/1000}s linear 0s`,
                  transform: selectedPiece && moveSpot && selectedPiece[0] === x && selectedPiece[1] === y ?
                    `translate(${(width/8) * (moveSpot[0] - selectedPiece[0])}px, ${(width/8) * (moveSpot[1] - selectedPiece[1])}px)`
                      : 'unset'
                }"
              >
                <circle
                  :r="width/16 * 0.8"
                  :cx="width/16"
                  :cy="width/16 * 1.06"
                  :fill="column"
                  stroke="white"
                ></circle>
                <circle
                  :r="width/16 * 0.8"
                  :cx="width/16"
                  :cy="width/16 * 0.95"
                  :fill="column"
                  stroke="white"
                ></circle>
                <circle
                  v-if="column === 'RED' || column === 'BLACK'"
                  :r="width/16 * 0.8"
                  :cx="width/16"
                  :cy="width/16 * 0.84"
                  :fill="column"
                  stroke="white"
                ></circle>
              </svg>
            </td>
          </tr>
        </table>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script type="module">
  import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  // todo: lookup tables for current red and black positions
  // todo: debug scoring alg
  // todo: add tiebreaker points for moving toward center of board

  createApp({
    data() {
      return {
        board: [
          [0, "black", 0, "black", 0, "black", 0, "black"],
          ["black", 0, "black", 0, "black", 0, "black", 0],
          [0, "black", 0, "black", 0, "black", 0, "black"],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          ["red", 0, "red", 0, "red", 0, "red", 0],
          [0, "red", 0, "red", 0, "red", 0, "red"],
          ["red", 0, "red", 0, "red", 0, "red", 0],
        ],
        selectedPiece: null,
        moveSpot: null,
        multiJumpInProgress: false,
        width: 800,
        animationDuration: 500,
        animationInProgress: false,
      };
    },
    mounted() {
      this.width = Math.min(window.innerWidth, window.innerHeight) - 12;
    },
    computed: {},
    methods: {
      isValidMove(x, y, color, board) {
        if (x < 0 || x > 7 || y < 0 || y > 7 || this.animationInProgress)
          return false;

        // select piece/switch selected piece
        if (
          (color === "red" || !this.selectedPiece) &&
          (board[y][x] === color || board[y][x] === color.toUpperCase()) &&
          !this.multiJumpInProgress
        )
          return true;
        if (!this.selectedPiece) return false;

        // piece selection
        const direction = color === "red" ? 1 : -1;
        const opposingColor = color === "red" ? "black" : "red";
        // open space, non-king
        if (
          Math.abs(x - this.selectedPiece[0]) === 1 &&
          this.selectedPiece[1] - y === direction &&
          !board[y][x]
        )
          return true;
        // valid regular jump
        if (
          Math.abs(x - this.selectedPiece[0]) === 2 &&
          this.selectedPiece[1] - y === 2 * direction &&
          !board[y][x]
        ) {
          const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
          const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
          return (
            board[middleY][middleX] === opposingColor ||
            board[middleY][middleX] === opposingColor.toUpperCase()
          );
        }
        // if you made it this far and you're not a king, invalid move
        if (
          board[this.selectedPiece[1]][this.selectedPiece[0]] !==
          color.toUpperCase()
        )
          return false;
        // open space, king
        if (
          board[this.selectedPiece[1]][this.selectedPiece[0]] ===
            color.toUpperCase() &&
          Math.abs(x - this.selectedPiece[0]) === 1 &&
          Math.abs(y - this.selectedPiece[1]) === 1 &&
          !board[y][x]
        )
          return true;
        // valid king jump
        if (
          board[this.selectedPiece[1]][this.selectedPiece[0]] ===
            color.toUpperCase() &&
          Math.abs(x - this.selectedPiece[0]) === 2 &&
          Math.abs(y - this.selectedPiece[1]) === 2 &&
          !board[y][x]
        ) {
          const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
          const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
          return (
            board[middleY][middleX] === opposingColor ||
            board[middleY][middleX] === opposingColor.toUpperCase()
          );
        }

        return false;
      },
      spaceClicked(x, y) {
        if (!this.isValidMove(x, y, "red", this.board)) return;
        if (
          !this.selectedPiece ||
          this.board[y][x] === "red" ||
          this.board[y][x] === "RED"
        ) {
          this.selectedPiece = [x, y];
          return;
        }

        this.moveSpot = [x, y];
        this.animationInProgress = true;
        // animate move, proceed after animation
        setTimeout(() => {
          this.board[y][x] =
            y &&
            this.board[this.selectedPiece[1]][this.selectedPiece[0]] === "red"
              ? "red"
              : "RED"; // king me
          this.board[this.selectedPiece[1]][this.selectedPiece[0]] = 0;
          let isJump = false;
          if (Math.abs(y - this.selectedPiece[1]) === 2) {
            isJump = true;
            const middleX = x > this.selectedPiece[0] ? x - 1 : x + 1;
            const middleY = y > this.selectedPiece[1] ? y - 1 : y + 1;
            this.board[middleY][middleX] = 0;
          }

          this.moveSpot = null;
          this.animationInProgress = false;

          // check for more available jumps, if so, wait for next move (there could be two options)
          this.multiJumpInProgress = true;
          if (isJump) {
            this.selectedPiece = [x, y];
            const possibleMoves = [
              [x + 2, y + 2],
              [x - 2, y + 2],
              [x + 2, y - 2],
              [x - 2, y - 2],
            ].filter((d) => d[0] >= 0 && d[0] < 8 && d[1] >= 0 && d[1] < 8);
            for (const move of possibleMoves) {
              if (this.isValidMove(move[0], move[1], "red", this.board)) {
                return;
              }
            }
          }
          this.multiJumpInProgress = false;

          // black move
          // get all pieces with moves
          // for each piece, get all possible moves
          const options = this.getOptions("black", this.board);

          // calculate score of each move
          for (const option of options) {
            for (const validMove of option.validMoves) {
              validMove.score = this.getScore(
                JSON.parse(JSON.stringify(this.board)),
                option.piece,
                validMove.moves,
                "black",
                3
              );
            }
          }

          // choose move with the highest score
          for (const option of options) {
            option.score = Math.max(...option.validMoves.map((d) => d.score));
            option.moves = option.validMoves.find(
              (d) => d.score === option.score
            ).moves;
          }
          const selectedOption = options.find(
            (d) => d.score === Math.max(...options.map((d) => d.score))
          );
          selectedOption.moves.unshift(selectedOption.piece);
          for (let i = 0; i < selectedOption.moves.length - 1; i++) {
            setTimeout(() => {
              this.selectedPiece = selectedOption.moves[i];
              this.moveSpot = selectedOption.moves[i + 1];
              this.animationInProgress = true;
              setTimeout(() => {
                this.board[this.moveSpot[1]][this.moveSpot[0]] =
                  this.moveSpot[1] < 7 &&
                  this.board[selectedOption.moves[i][1]][
                    selectedOption.moves[i][0]
                  ] === "black"
                    ? "black"
                    : "BLACK"; // king me
                this.board[selectedOption.moves[i][1]][
                  selectedOption.moves[i][0]
                ] = 0;
                if (
                  Math.abs(this.moveSpot[1] - selectedOption.moves[i][1]) === 2
                ) {
                  const middleX =
                    this.moveSpot[0] > selectedOption.moves[i][0]
                      ? this.moveSpot[0] - 1
                      : this.moveSpot[0] + 1;
                  const middleY =
                    this.moveSpot[1] > selectedOption.moves[i][1]
                      ? this.moveSpot[1] - 1
                      : this.moveSpot[1] + 1;
                  this.board[middleY][middleX] = 0;
                }

                this.selectedPiece = null;
                this.moveSpot = null;
                this.animationInProgress = false;
              }, this.animationDuration - 10);
            }, i * this.animationDuration);
          }
        }, this.animationDuration);
      },
      getOptions(color, board) {
        const options = [];
        for (let y = 0; y < 8; y++) {
          for (let x = y % 2 ? 0 : 1; x < 8; x += 2) {
            this.selectedPiece = null;
            if (this.isValidMove(x, y, color, board)) {
              // check if any valid moves moves
              this.selectedPiece = [x, y];
              const validMoves = [];
              const possibleMoves = [
                [[x + 1, y + 1]],
                [[x + 1, y - 1]],
                [[x - 1, y + 1]],
                [[x - 1, y - 1]],
                [[x + 2, y + 2]],
                [[x + 2, y - 2]],
                [[x - 2, y + 2]],
                [[x - 2, y - 2]],
              ];
              for (const moves of possibleMoves) {
                if (this.isValidMove(moves[0][0], moves[0][1], color, board))
                  validMoves.push({ moves });
              }
              if (validMoves.length)
                options.push({ piece: [x, y], validMoves });
            }
          }
        }
        return options;
      },
      getScore(board, piece, moves, color, depth) {
        // todo: do not terminate recursion as long as there is a jump possible
        if (!depth) return 0;

        let score = 0;
        const opposingColor = color === "black" ? "red" : "black";

        // make move
        board[moves[0][1]][moves[0][0]] = board[piece[1]][piece[0]];
        if (
          (board[piece[1]][piece[0]] === "black" && moves[0][1] === 7) ||
          (board[piece[1]][piece[0]] === "red" && !moves[0][1])
        ) {
          board[moves[0][1]][moves[0][0]] = color.toUpperCase(); // king me
          score += 0.5;
        }
        board[piece[1]][piece[0]] = 0;

        while (Math.abs(moves[moves.length - 1][1] - piece[1]) === 2) {
          score++;
          const index = moves.length - 1;
          const middleX =
            moves[index][0] > piece[0]
              ? moves[index][0] - 1
              : moves[index][0] + 1;
          const middleY =
            moves[index][1] > piece[1]
              ? moves[index][1] - 1
              : moves[index][1] + 1;
          if (board[middleY][middleX] === opposingColor.toUpperCase())
            score += 0.75;
          board[middleY][middleX] = 0;
          piece = moves[moves.length - 1].slice();
          // check for another possible jump, if so add it to front of moves
          const possibleJumps = [
            [piece[0] + 2, piece[1] + 2],
            [piece[0] - 2, piece[1] + 2],
            [piece[0] + 2, piece[1] - 2],
            [piece[0] - 2, piece[1] - 2],
          ];
          this.selectedPiece = piece;
          this.multiJumpInProgress = true;
          for (const possibleJump of possibleJumps) {
            if (
              this.isValidMove(possibleJump[0], possibleJump[1], color, board)
            ) {
              moves.push(possibleJump);
              break;
            }
          }
        }
        this.multiJumpInProgress = false;

        // subtract best counter-move score
        const options = this.getOptions(
          opposingColor,
          JSON.parse(JSON.stringify(board))
        );

        // calculate score of each move
        for (const option of options) {
          for (const validMove of option.validMoves) {
            validMove.score = this.getScore(
              JSON.parse(JSON.stringify(board)),
              option.piece,
              validMove.moves,
              opposingColor,
              depth - 1
            );
          }
        }

        // choose move with the highest score
        for (const option of options) {
          option.score = Math.max(...option.validMoves.map((d) => d.score));
          option.moves = option.validMoves.find(
            (d) => d.score === option.score
          ).moves;
        }
        const counterMove = options.find(
          (d) => d.score === Math.max(...options.map((d) => d.score))
        );

        return score - (counterMove ? counterMove.score : 0);
      },
    },
  }).mount("#app");
</script>
