<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Connect Four</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main id="app" style="height: 100vh; overflow: hidden">
      <div
        style="
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          class="m-auto"
          style="background: #0067d0; border-radius: 10px; padding: 10px"
        >
          <table class="m-auto">
            <tr v-for="(row, y) of [0, 1, 2, 3, 4, 5]">
              <td
                v-for="(column, x) of board"
                :style="{
                  cursor: column.length < 6 && !animationInProgress ? 'pointer' : 'unset',
                  height: squareWidth + 'px',
                  width: squareWidth + 'px',
                  background: '#0067d0',
                }"
                @click="spaceClicked(x)"
              >
                <svg :width="squareWidth" :height="squareWidth">
                  <circle
                    :r="squareWidth/2 * 0.85"
                    :cx="squareWidth/2"
                    :cy="squareWidth/2"
                    :fill="animationInProgress && selectedColumn === x && currentRow === y ? currentMove :
                      column[5 - y] || '#212529'"
                  ></circle>
                </svg>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div
        class="modal fade"
        id="winner-modal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog ms-auto me-auto mt-5" style="width: 300px">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Game Over</h5>
            </div>
            <div class="modal-body">
              You {{ isWinner(board, "red") ? "won" : "lost" }}!
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                @click="newGame"
              >
                Play Again
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script type="module">
  import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  createApp({
    data() {
      return {
        board: [[], [], [], [], [], [], []],
        moveSpot: null,
        width: 800,
        animationDuration: 100,
        animationInProgress: false,
        squareWidth: 20,
        selectedColumn: null,
        currentRow: null,
        currentMove: "red",
      };
    },
    mounted() {
      this.width =
        Math.min(window.innerWidth, window.innerHeight) -
        (window.innerWidth > window.innerHeight ? 32 : 34);
      this.squareWidth =
        window.innerWidth > window.innerHeight
          ? this.width / 6
          : this.width / 7;
    },
    methods: {
      spaceClicked(x) {
        if (this.board[x].length === 6 || this.animationInProgress) return;
        this.currentMove = "red";
        this.selectedColumn = x;
        this.animateMove(x);
        setTimeout(() => {
          this.selectedColumn = null;
          this.currentRow = null;
          this.board[x].push("red");
          // todo: check if red won, if so show modal
          if (this.isWinner(this.board, "red")) {
            this.animationInProgress = false;
            new bootstrap.Modal(document.getElementById("winner-modal"), {
              backdrop: "static",
            }).show();
            return;
          }

          // yellow move
          this.currentMove = "yellow";
          // get available options
          const possibleMoves = this.getPossibleMoves(this.board);
          // get score for each option
          for (const move of possibleMoves) {
            move.score = this.getScore(
              JSON.parse(JSON.stringify(this.board)),
              move.column,
              "yellow",
              4
            );
          }
          // choose best option
          const bestMove = possibleMoves.find(
            (d) => d.score === Math.max(...possibleMoves.map((d) => d.score))
          ).column;

          // animate yellow move
          this.animateMove(bestMove);
          this.selectedColumn = bestMove;
          setTimeout(() => {
            this.board[bestMove].push("yellow");
            this.animationInProgress = false;
            if (this.isWinner(this.board, "yellow")) {
              this.animationInProgress = false;
              new bootstrap.Modal(document.getElementById("winner-modal"), {
                backdrop: "static",
              }).show();
              return;
            }
            this.currentMove = "red";
          }, this.animationDuration * 5 - this.board[bestMove].length);
        }, this.animationDuration * 5 - this.board[x].length);
      },
      getPossibleMoves(board) {
        return board
          .map((d, column) => ({
            length: d.length,
            column,
          }))
          .filter((d) => d.length < 6)
          .map((d) => ({ column: d.column }));
      },
      getScore(board, column, color, depth) {
        board[column].push(color);
        const row = board[column].length - 1;
        let score = 0;

        const opposingColor = color === "red" ? "yellow" : "red";

        // horizontal
        let hasWinningMove = false;
        for (
          let startCol = Math.max(0, column - 3);
          startCol <= Math.min(3, column);
          startCol++
        ) {
          const four = [
            board[startCol][row],
            board[startCol + 1][row],
            board[startCol + 2][row],
            board[startCol + 3][row],
          ];
          // potential connect four blocked by opponent
          if (four.indexOf(opposingColor) > -1) continue;
          // winning move
          if (four.indexOf(undefined) === -1) {
            hasWinningMove = true;
            score += 100;
            break;
          }
          const numOfColor = four.filter((d) => d === color).length;
          score += numOfColor === 3 ? 10 : numOfColor === 2 ? 1 : 0;
        }

        // vertical
        for (
          let startRow = Math.max(0, row - 3);
          startRow <= Math.min(2, row);
          startRow++
        ) {
          const four = [
            board[column][startRow],
            board[column][startRow + 1],
            board[column][startRow + 2],
            board[column][startRow + 3],
          ];
          // potential connect four blocked by opponent
          if (four.indexOf(opposingColor) > -1) continue;
          // winning move
          if (four.indexOf(undefined) === -1) {
            hasWinningMove = true;
            score += 100;
            break;
          }
          const numOfColor = four.filter((d) => d === color).length;
          score += numOfColor === 3 ? 10 : numOfColor === 2 ? 1 : 0;
        }

        // diagonal up
        for (
          let startRow = Math.max(0, row - Math.min(3, column));
          startRow <= Math.min(2, row);
          startRow++
        ) {
          const startCol = column - (row - startRow);
          if (startCol > 3) continue;
          const four = [
            board[startCol][startRow],
            board[startCol + 1][startRow + 1],
            board[startCol + 2][startRow + 2],
            board[startCol + 3][startRow + 3],
          ];
          // potential connect four blocked by opponent
          if (four.indexOf(opposingColor) > -1) continue;
          // winning move
          if (four.indexOf(undefined) === -1) {
            hasWinningMove = true;
            score += 100;
            break;
          }
          const numOfColor = four.filter((d) => d === color).length;
          score += numOfColor === 3 ? 10 : numOfColor === 2 ? 1 : 0;
        }

        // diagonal down
        for (
          let startRow = Math.min(5, row + Math.min(3, column));
          startRow <= Math.min(3, row);
          startRow++
        ) {
          const startCol = column - (startRow - row);
          if (startCol > 3) continue;
          const four = [
            board[startCol][startRow],
            board[startCol + 1][startRow - 2],
            board[startCol + 2][startRow - 2],
            board[startCol + 3][startRow - 3],
          ];
          // potential connect four blocked by opponent
          if (four.indexOf(opposingColor) > -1) continue;
          // winning move
          if (four.indexOf(undefined) === -1) {
            hasWinningMove = true;
            score += 100;
            break;
          }
          const numOfColor = four.filter((d) => d === color).length;
          score += numOfColor === 3 ? 10 : numOfColor === 2 ? 1 : 0;
        }

        if (!depth || hasWinningMove) return score;

        // subtract counter move score
        const possibleMoves = this.getPossibleMoves(board);
        // get score for each option
        for (const move of possibleMoves) {
          move.score = this.getScore(
            JSON.parse(JSON.stringify(board)),
            move.column,
            color === "yellow" ? "red" : "yellow",
            depth - 1
          );
        }
        // choose best counter-move
        const counterMove = possibleMoves.find(
          (d) => d.score === Math.max(...possibleMoves.map((d) => d.score))
        );

        return score - (counterMove ? counterMove.score : 0);
      },
      animateMove(column) {
        this.animationInProgress = true;
        this.currentRow = 0;
        for (let i = 1; i < 6 - this.board[column].length; i++) {
          setTimeout(() => {
            this.currentRow = i;
          }, this.animationDuration * i);
        }
      },
      isWinner(board, color) {
        for (let column = 0; column < board.length; column++) {
          for (let row = 0; row < board[column].length; row++) {
            if (board[column][row] === color) {
              // up
              if (
                row < 3 &&
                board[column][row + 1] === color &&
                board[column][row + 2] === color &&
                board[column][row + 3] === color
              )
                return true;
              // right
              if (
                column < 4 &&
                board[column + 1][row] === color &&
                board[column + 2][row] === color &&
                board[column + 3][row] === color
              )
                return true;
              // diagonal down
              if (
                row > 2 &&
                column < 4 &&
                board[column + 1][row - 1] === color &&
                board[column + 2][row - 2] === color &&
                board[column + 3][row - 3] === color
              )
                return true;
              // diagonal up
              if (
                row < 3 &&
                column < 4 &&
                board[column + 1][row + 1] === color &&
                board[column + 2][row + 2] === color &&
                board[column + 3][row + 3] === color
              )
                return true;
            }
          }
        }
        return false;
      },
      newGame() {
        this.board = [[], [], [], [], [], [], []];
        bootstrap.Modal.getInstance(
          document.getElementById("winner-modal")
        ).hide();
      },
    },
  }).mount("#app");
</script>
